body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #004b79;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    margin-top: 100px;
    width: 40%;
}

.calcularNota {
    margin-top: 50px;
    width: 350px;
    height: 600px;
    background-color: #FFF;
    border-radius: 20px;
    -webkit-box-shadow: 5px 4px 0px 2px rgba(0,0,0,0.3); 
    box-shadow: 5px 4px 0px 2px rgba(0,0,0,0.3);
    transition: all .5s ease;
}

.calcularNota:hover {
    transform: scale(1.05);
}

.blockTitle {
    font: bold 30px Arial;
    background-color: #FFFF00;
    padding: 30px;
    text-align: center;
    color: #FFF;
    border-radius: 20px 20px 0 0;
}

.blockTitle h4 {
    margin: 0;
    text-shadow: 2px 2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, -2px -2px 0 #000, 2px 0px 0 #000, 0px 2px 0 #000, -2px 0px 0 #000, 0px -2px 0 #000;
    letter-spacing: 3px;
}

.blockContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.blockContent span {
    font: normal 15px arial;
    margin-top: 20px;
    margin-bottom: 10px;
}

.blockContent input {
    text-align: center;
    margin-bottom: 20px;
    outline: none;
}

#media {
    text-align: center;
    margin-top: 10px;
}

#btn {
    margin-top: 20px;
    background-color: #FFFF00;
    border: none;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    font: bold 20px Arial;
}

#btn:hover {
    background-color: #cfcf00;
}

/* REMOVER SETAR DO INPUT NUMBER */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
  }

/* REMOVER SETAR DO INPUT NUMBER */